* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
body {
    width: 100%;

    display: flex;
    justify-content: center;

    background: cadetblue;
}
section.aquama-calculator .container {
    max-width: 800px;
    width: 100%;
    min-width: 320px;
    min-height: 1080px;

    padding: 20px;
}
section.aquama-calculator .container form.aquama-calculator-input {
    margin-bottom: 130px;
}
section.aquama-calculator .container form.aquama-calculator-input h1.aquama-calculator-header {
    margin-top: 20px;
    margin-bottom: 130px;

    font-size: 30px;
    text-align: center;
}
section.aquama-calculator .container form.aquama-calculator-input ul {
    margin-top: 50px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    list-style: none;
}
section.aquama-calculator .container form.aquama-calculator-input ul li {
    display: flex;
    flex-direction: column;

    margin-right: 20px;
    margin-bottom: 20px;
}
section.aquama-calculator .container form.aquama-calculator-input ul li label {
    font-size: 20px;
}
section.aquama-calculator .container form.aquama-calculator-input ul li .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}
section.aquama-calculator .container form.aquama-calculator-input ul li .select {
    margin-top: 8px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #111111;
    width: 220px;
    min-height: 58px;
}
section.aquama-calculator .container form.aquama-calculator-input ul li .select-styled {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f8f8f8;
    padding: 8px 15px;
    border: 1px solid #d0d0d0;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
section.aquama-calculator .container form.aquama-calculator-input ul li .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #111 transparent transparent transparent;
    position: absolute;
    top: 25px;
    right: 10px;
}
section.aquama-calculator .container form.aquama-calculator-input ul li .select-styled:hover {
    background-color: #ffffff;
}
section.aquama-calculator .container form.aquama-calculator-input ul li .select-styled:active, .select-styled.active {
    background-color: #ffffff;
}
section.aquama-calculator .container form.aquama-calculator-input ul li .select-styled.active:after {
    transform: rotate(180deg) translateY(7px);
}
section.aquama-calculator .container form.aquama-calculator-input ul li .select .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    border-bottom: 1px solid #d0d0d0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
}
section.aquama-calculator .container form.aquama-calculator-input ul li .select .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #f8f8f8;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    border-bottom: 1px solid #d0d0d0;
}
section.aquama-calculator .container form.aquama-calculator-input ul li .select .select-options li:hover {
    color: #111;
    background: #efefef;
}
section.aquama-calculator .container form.aquama-calculator-input ul li .select-options li[rel="hide"] {
    display: none;
}
section.aquama-calculator .container form.aquama-calculator-input .button {
    width: inherit;

    margin-top: 70px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
section.aquama-calculator .container form.aquama-calculator-input button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
section.aquama-calculator .container form.aquama-calculator-input button.calculate {
    width: 12rem;
    height: auto;
}
section.aquama-calculator .container form.aquama-calculator-input button.calculate .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}
section.aquama-calculator .container form.aquama-calculator-input button.calculate .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
section.aquama-calculator .container form.aquama-calculator-input button.calculate .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
section.aquama-calculator .container form.aquama-calculator-input button.calculate .circle .icon.arrow:before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
section.aquama-calculator .container form.aquama-calculator-input button.calculate .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    /*font-size: 20px;*/
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
section.aquama-calculator .container form.aquama-calculator-input button:hover .circle {
    width: 100%;
}
section.aquama-calculator .container form.aquama-calculator-input button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
section.aquama-calculator .container form.aquama-calculator-input button:hover .button-text {
    color: #fff;
}
section.aquama-calculator .container section.aquama-calculator-output {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
section.aquama-calculator .container section.aquama-calculator-output .total-cost {
    width: 350px;

    margin-bottom: 30px;
}
section.aquama-calculator .container section.aquama-calculator-output .aquama-cost {
    width: 350px;

    margin-bottom: 30px;
}
section.aquama-calculator .container section.aquama-calculator-output h4 {
    margin-bottom: 10px;
}
section.aquama-calculator .container section.aquama-calculator-output .aquama-investment {
    margin-top: 50px;
}
section.aquama-calculator .container section.aquama-calculator-output .aquama-investment p.aquama-investment-txt {
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
}

@media only screen and ( max-width: 760px ) {
    section.aquama-calculator .container section.aquama-calculator-output {
        justify-content: center;
    }
}
@media only screen and ( max-width: 520px ) {
    .container {
        width: 480px;
    }

    section.aquama-calculator .container form.aquama-calculator-input ul {
        justify-content: center;
    }
    section.aquama-calculator .container form.aquama-calculator-input .button {
        justify-content: center;
    }
}
@media only screen and ( max-width: 385px ) {
    section.aquama-calculator .container form.aquama-calculator-input h1.aquama-calculator-header {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 100px;

        font-size: 27px;
    }
    section.aquama-calculator .container form.aquama-calculator-input h1.aquama-calculator-header,
    section.aquama-calculator .container section.aquama-calculator-output .total-cost, .aquama-cost
    {
        max-width: 250px;
    }
}
